
#main p{
  text-align: justify;
}
strong{
  color:#4527a0;
  font-weight:normal;
}
h1{
  margin-bottom:50px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}
h1#name{
  color:white;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

section h2,#main-title{
  color:#4527a0;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
section#section-contact{
  padding-top:20px;
}
section#section-contact ul>li{
  list-style: none;
}
section#section-contact #contact-name{
  font-weight: bold;
}
.card-title-primary{
  color:#4527a0;
  font-size: 15px;
  font-weight: bold;
  text-align:center;

}
.card-title-info{
  color:#FF3D00;
  font-size: 15px;
  font-weight: bold;
  text-align:center;
}

.highlight-link{
  display:block;
  width:100%;
  text-align: right;
  color: #FF3D00;
  text-decoration: none;
  border: none;
}
.highlight-link, .highlight-link:active, .highlight-link:hover{
  text-decoration: none;
}

.icons-banner{
  background: #f8f9fa;
  width: 100%;
  width: calc(100% + 30px);
  padding: 10px;
  margin: 0 -15px;
}
.icons-banner>div {
  max-width: 1200px;
  display: flex;
  max-width: 1200px;
  margin:auto;
  justify-content: center;
  flex-wrap: wrap;
}
.icons-banner>div>a{
  box-sizing: border-box;
  min-width:250px;
  padding: 15px 15px;
  flex-grow:0;
  flex-shrink: 0;
}
.icons-banner>div>a, .icons-banner>div>a:active, .icons-banner>div>a:hover {
  text-decoration: none;
  border: none;
}
.icons-banner>div>a>div {
  width:250px;
  z-index: 0;
  height:150px;
  position:relative;
  flex-direction: column;
  border: 2px solid #FF3D00;
}
.icons-banner div.icon-card-body:after {
  content: "";
  position: absolute;
  top:-2px;
  left:50%;
  bottom:-2px;
  margin-left: -75px;
  width: 150px;
  background: #f8f9fa;
  z-index: 1;
}
.icons-banner div.icon-card-body{
  display:flex;
  flex-direction: column;
}

.icons-banner div.icon-card-body>* {
  margin: auto;
  position: relative;
  text-align: center;
  z-index: 2;
  color: #FF3D00;
  fill: currentColor;
}

/* Header */

	#header{
		background-color: #1f1815;
		background-attachment: fixed;
		background: url("../images/lens.jpg") center/cover no-repeat;
		color: rgba(255, 255, 255, 0.5);
		height: 100%;
    float:left;
		left: 0;
		padding: 10% 0 0 0;
		position: fixed;
		text-align: right;
		top: 0;
		width: 35%;
	}
  #header .header-overlay{
    background: rgba(97,97,97,0.6);
    padding: 5px 15px 5px 0;
  }
  #header #headline{
    padding-right:120px;
    font-size: 1.3rem;
  }
		#header strong, #header b {
			color: #ffffff;
		}

		#header h2, #header h3, #header h4, #header h5, #header h6 {
			color: rgba(255,255,255,0.8);
		}

		#header h1 {
			color: white;
			font-size: 1.35em;
			line-height: 1.75em;
			margin: 0;
      padding-right:130px;
		}

		#header .image.avatar {
      width: 6.25em;
      float:right;
      display:block;
		}
    .image.avatar img{
      box-shadow: 0 0 5px 5px rgba(255,255,255,0.8);
    }
/* avatar */

/* Main */

	#main {
		margin-left: 35%;
    max-width: 65%;
	}

		#main > section {
			border-top: solid 2px #efefef;
			margin: 4em 0 0 0;
			padding: 4em 0 0 0;
		}

			#main > section:first-child, #main > section#content-main {
				border-top: 0;
				margin-top: 0;
				padding-top: 0;
			}
@media screen and (max-width: 1280px) {
  /* Header */
    #header {
      left: auto;
      padding: 6em 0 2em 0;
      position: relative;
      text-align: center;
      top: auto;
      width: 100%;
    }
    #header #headline{
      width:100%;
      padding:15px;
    }
    #header #headline br{
      display: none;
    }
  /* Footer */

    #footer {
      padding: 0 3em 5em 3em;
      width: 30%;
    }

      #footer .copyright li {
        border-left-width: 0;
        display: block;
        line-height: 2.25em;
        margin-left: 0;
        padding-left: 0;
      }

  /* Main */

    #main {
      margin-left: 0;
      max-width:100%;
    }

}
