#main p{
  text-align: justify;
}
strong{
  color:#4527a0;
  font-weight:normal;
}
h1{
  margin-bottom:40px;
}
h1#name{
  color:white;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}
h2#headline{

}
.image.avatar img{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px;
}
